
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: rgba(134, 7, 7, 0.692);
    padding: 10px;
    border-radius: 5px;
    color: #cccccc;
    font-family: monospace;
    font-size: large;
}
html {
    background-color: #111111;
}
h1 {
    color: #cccccc;
    font-family: monospace;
}
hr {
    color: aqua;
    background-color: aqua;
}
li  a {
    color: white;
}

li  a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .5em;
    
}
li a:hover {
    background-color: rgba(46, 46, 46, 0.425);
}
a {
    color: aqua;
    background-color: black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: large;
}
